<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.labourdaily">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".menu" />
        <activity android:name=".area" />
        <activity android:name=".plumber" />
        <activity android:name=".labour" />
        <activity android:name=".labour1" />
        <activity android:name=".plum1" />
        <activity android:name=".elec" />
        <activity android:name=".elect1" />
        <activity android:name=".mech" />
        <activity android:name=".mech1" />
        <activity android:name=".car" />
        <activity android:name=".car1" />
        <activity android:name=".gar" />
        <activity android:name=".gar1"></activity>
    </application>

</manifest>